@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  transition: background-color 0.5s, color 0.5s;
}

.dark {
  background-color: #1a202c; /* Dark mode background */
  color: #cbd5e0; /* Dark mode text color */
}

.light {
  background-color: #ffffff; /* Light mode background */
  color: #2d3748; /* Light mode text color */
}